In [1]:
%load_ext sql
%sql postgresql://db:db@postgres/db

There's a new jupysql version available (0.7.8), you're running 0.7.4. To upgrade: pip install jupysql --upgrade

In [10]:
%%sql
DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;
CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255) CHECK (address ~ '^[0-9]+ [a-zA-ZÀ-ú]+\s*, [0-9]{4}-[0-9]{3} [a-zA-ZÀ-ú]+$')
);
CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
/*order_no must exist in contains*/
);
CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);
CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);
CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);
CREATE TABLE department(
name VARCHAR PRIMARY KEY
);
CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);
CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);
CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);
CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);
CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);
CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);
CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);
CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

/* procedures and trigers*/
/*RI 1*/
CREATE OR REPLACE TRIGGER check_employee_age_trigger
BEFORE INSERT OR UPDATE OF bdate ON employee
FOR EACH ROW
DECLARE
  emp_bdate DATE := NEW.bdate;
BEGIN
  -- Call the stored procedure to check the employee's age
  check_employee_age(:NEW.ssn, emp_bdate);
END;
/*RI2*/
/*
CREATE OR REPLACE FUNCTION validate_workplace_type()
RETURNS TRIGGER AS $$
BEGIN
  IF NEW.type = 'Office' THEN
    IF EXISTS (SELECT 1 FROM warehouse WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'A Workplace cannot be both an Office and a Warehouse.';
    END IF;
  ELSIF NEW.type = 'Warehouse' THEN
    IF EXISTS (SELECT 1 FROM office WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'A Workplace cannot be both an Office and a Warehouse.';
    END IF;
  ELSE
    RAISE EXCEPTION 'Invalid Workplace type. Must be either Office or Warehouse.';
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER check_workplace_type
BEFORE INSERT OR UPDATE ON workplace
FOR EACH ROW
EXECUTE FUNCTION validate_workplace_type();
/*
/* RI 3*/
/*
CREATE OR REPLACE FUNCTION validate_contains_order()
RETURNS TRIGGER AS $$
DECLARE
  order_exists INTEGER;
BEGIN
  SELECT COUNT(*) INTO order_exists FROM Orders WHERE order_id = NEW.order_id;
  IF order_exists = 0 THEN
    RAISE EXCEPTION 'Order does not exist in the Orders table.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create the trigger
CREATE TRIGGER check_contains_order
BEFORE INSERT ON Contains
FOR EACH ROW
EXECUTE FUNCTION validate_contains_order();
*/

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

StatementError: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'NEW'
[SQL: /* procedures and trigers*/
/*RI 1*/
CREATE OR REPLACE TRIGGER check_employee_age_trigger
BEFORE INSERT OR UPDATE OF bdate ON employee
FOR EACH ROW
DECLARE
  emp_bdate DATE := NEW.bdate;
BEGIN
  -- Call the stored procedure to check the employee's age
  check_employee_age(%(NEW)s.ssn, emp_bdate);
END;
/*RI2*/
/*
CREATE OR REPLACE FUNCTION validate_workplace_type()
RETURNS TRIGGER AS $$
BEGIN
  IF NEW.type = 'Office' THEN
    IF EXISTS (SELECT 1 FROM warehouse WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'A Workplace cannot be both an Office and a Warehouse.';
    END IF;
  ELSIF NEW.type = 'Warehouse' THEN
    IF EXISTS (SELECT 1 FROM office WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'A Workplace cannot be both an Office and a Warehouse.';
    END IF;
  ELSE
    RAISE EXCEPTION 'Invalid Workplace type. Must be either Office or Warehouse.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER check_workplace_type
BEFORE INSERT OR UPDATE ON workplace
FOR EACH ROW
EXECUTE FUNCTION validate_workplace_type();
/*
/* RI 3*/
/*
CREATE OR REPLACE FUNCTION validate_contains_order()
RETURNS TRIGGER AS $$
DECLARE
  order_exists INTEGER;
BEGIN
  SELECT COUNT(*) INTO order_exists FROM Orders WHERE order_id = NEW.order_id;
  IF order_exists = 0 THEN
    RAISE EXCEPTION 'Order does not exist in the Orders table.';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create the trigger
CREATE TRIGGER check_contains_order
BEFORE INSERT ON Contains
FOR EACH ROW
EXECUTE FUNCTION validate_contains_order();
*/]
(Background on this error at: https://sqlalche.me/e/20/cd3x)